.description{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);


    ul{
        padding: 0;
        li{
            list-style-type: none;
            padding: 10px;
            text-align: center;

        }
    }


    h1{
        color: rgb(0, 0, 0);
        padding: 20px;
        text-align: center;
    }
}
