.description{
    display: flex;
    background-color: rgb(255, 255, 255);
    li{
        color: black;
        justify-content: space-between;


    }

    h2{
        color: rgb(0, 0, 0);
        padding: 20px;
        text-align: center;
    }


}
