@import url("/nav.css");
@import url("/footer.css");
@import url("/header.css");
@import url("/linkedin_list.css");
@import url("/linkedin_description.css");
@import url("/island.css");


h1 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 500;
  color: #343a40;
  text-align: center;
}

div{
  margin: 10px 20px 15px 25px;
}

body {
  overflow-y: scroll;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa3d;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-text);
}

.linkedin{
  display: flex;
  flex-wrap: column;
  background-color: #f8f9fa3d;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;
}

.input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
  margin: 10px;
  outline: none;
  background-color: #d4e8f0;
}

.button-blue {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  background-color: #3498db;
  color: #ffffff;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 10px;
}

.button-white {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #3498db;
  border-radius: 25px;
  background-color: #ffffff;
  color: #3498db;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 10px;
}

.button-page{
  display: inline-block;
  padding: 10px 20px;
  border-radius: 35%;
  background-color: #ffffff;
  border: 1px solid #000000;
  color: #000000;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 10px;
}
