.principal{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: 100vh;
  width: 100%;
  border: 1px solid black;
  border-radius: 10px;
}

body{
  margin: 0;
}

.secondsComponents{
  flex:1;
  display: flex;
  flex-direction: column;
  border-left: 1px solid black;
}


.components{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-bottom: 1px solid black;
  flex:1;
}

button{
  background-color: #9986ef;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  &:hover {
    background-color: #de4a6a;
  }

  &[disabled] {
    background-color: #e5e7eb;
    color: #333;
    cursor: not-allowed;
  }
}

details{

  flex: 1
}

.button{
  display: flex;
  justify-content: space-around;
  flex-direction: row;

}

.lookforward{

}
