.page-404 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    font-size: 2rem;
    font-weight: bold;
    color: #c2002f;
    background-color: #ffffff;
    text-align: center;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
}



@media (max-width: 600px) {
    .page-404 {
        width: 30%;
        height: 30%;
        font-size: 1.5rem;
        padding: 10px;
    }
}

.img-404 {
    width: 50%;
    height: 50%;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
}
