.jokes {
    margin: 100px 200px 25px 200px;
    padding: 50px;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    border: 2px solid #ccc;
}
