.nav {
  width: 50%;
  margin: 10px auto;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;

  a {
    margin-right: 20px;
    color: #343a40;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
  }

  a:hover {
    color: #00ff00;
  }

}
