.recipe {
    margin: 100px 200px 25px 200px;
    padding: 100px;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 2px;
    border-radius: 10px;
    border: 2px solid #ccc;
    background-color: #fff;
}
