@import url("/airport.css");
@import url("/nav.css");
@import url("/footer.css");
@import url("/jokes.css");
@import url("/recipe.css");


h1 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 500;
  color: #343a40;
  text-align: center;
}

div{
  margin: 10px 20px 15px 25px;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #343a40;
  background-color: #f8f9fa;
}
